#include <windows.h>

#include "pdbdown.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_MAINICON ICON DISCARDABLE "pdbdown.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_MAINDLG DIALOGEX 0, 0, 255, 139
STYLE DS_CENTER|DS_SETFONT|DS_SHELLFONT|WS_MINIMIZEBOX|WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU
CAPTION "PDB Downloader"
FONT 8, "MS Shell Dlg2"
BEGIN
    LTEXT           "Input file:",IDC_STATIC,7,7,241,8
    EDITTEXT        IDC_INPUT,7,18,186,14,ES_AUTOHSCROLL,WS_EX_ACCEPTFILES
    PUSHBUTTON      "...",IDC_BROWSEINPUT,198,18,50,14
    LTEXT           "Symbol server:",IDC_STATIC,7,39,241,8
    COMBOBOX        IDC_SYMSRV,7,50,241,30,CBS_DROPDOWN|CBS_SORT|WS_VSCROLL|WS_TABSTOP
    LTEXT           "Output directory:",IDC_STATIC,7,71,241,8
    EDITTEXT        IDC_OUTPUT,7,82,186,14,ES_AUTOHSCROLL,WS_EX_ACCEPTFILES
    PUSHBUTTON      "...",IDC_BROWSEOUTPUT,198,82,50,14
    CONTROL         "Progress1",IDC_PROGRESS,"msctls_progress32",WS_BORDER,7,103,241,8
    DEFPUSHBUTTON   "Download",IDOK,143,118,50,14
    PUSHBUTTON      "Close",IDCANCEL,198,118,50,14
END
