// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010-2017 Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

// You may adjust these to the language you are translating to. See
// http://msdn.microsoft.com/en-us/library/dd318693(VS.85).aspx for
// available constants.
//LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE DISCARDABLE
BEGIN
    // help strings for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "Controls the type of graphics device to use.\nNote: You will need to update your graphics card drivers and DirectX* if the list is empty."
    IDCOMBOBOX_RESOLUTION,          "Controls the window size when in windowed mode and the screen resolution when in full-screen."
    IDCOMBOBOX_SOUND_MODE,          "Controls the type of sound device to use.\nIf turned off, both background music and sound effects will not work."
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "Controls the type of speakers in use.\nAffects volume and 3D sound output."
    IDCOMBOBOX_SOUND_BITRATE,       "Controls the bit-rate of sounds.\nMore means better sound quality, but also higher CPU usage."
    IDCOMBOBOX_SOUND_BITDEPTH,      "Controls the bit-depth of sounds.\nMore means better sound quality, but also higher CPU usage."
    IDCOMBOBOX_SOUND_CHANNELS,      "Controls the channel-depth of sounds.\nMore means better sound quality, but also higher CPU usage."
    IDCHECKBOX_FULLSCREEN,          "Turns full-screen game play on and off.\nYou might want to turn this off to play in windowed mode, when you want to switch between programs while playing."
    IDCHECKBOX_FOG,                 "Turns the fog-effect on and off.\nFog effect is implemented to embody the weather of fields.\nNote: This effect might be a burden for low system specification users and is not supported by all graphics cards.\n\nIngame: /fog"
    IDCHECKBOX_LIGHTMAP,            "Turns shadow effects on and off.\nNote: This effect might be a burden for low system specification users.\n\nIngame: /lightmap"
    IDCHECKBOX_VOODOO,              "Turns VooDoo3 graphics card hacks on and off.\nThis option is only for troubleshooting graphics card issues."
    IDTRACKBAR_SPRITEQ,             "Controls quality of sprite graphics.\nSprite graphics are player characters, monsters, items and similar objects. More means better quality, but also a higher memory usage.\n\nIngame: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "Controls quality of texture graphics.\nTexture graphics are map grounds, 3D-object surfaces (houses) and loading screens. More means better quality, but also a higher memory usage.\n\nIngame: Alt+D"
    IDCHECKBOX_AURA,                "Turns aura effect simplification on and off.\nThis effect is displayed when you attain maximum base level for your job.\n\nIngame: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "Turns camera zooming on and off.\nNote: This effect might be a burden for low system specification users.\n\nIngame: /camera"
    IDCHECKBOX_ISEFFECTON,          "Turns various visual special effects on and off.\nNote: Enabled effects might be a burden for low system specification users.\n\nIngame: /effect"
    IDCHECKBOX_ONHOUSERAI,          "Turns user-customized homunculus AI on and off.\nMakes the current homunculus act according AI\\USER_AI\\AI.lua instead of AI\\AI.lua script.\n\nIngame: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "Turns pick-up cursor snapping for items on and off.\n\nIngame: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "Turns notifications about guildmen and friends online status changes on and off.\n\nIngame: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "Turns user-customized mercenary AI on and off.\nMakes the current mercenary act according AI\\USER_AI\\AI_M.lua instead of AI\\AI_M.lua script.\n\nIngame: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "Turns miss-effect on and off.\nDisplays a 'Miss' for your (red) or your opponent's (white) attack misses.\nNote: This effect might be a burden for low system specification users.\n\nIngame: /miss"
    IDCHECKBOX_NOCTRL,              "Turns auto-attack on and off.\nEnables you to auto-attack an enemy without having to hold CTRL key when starting the attack.\n\nIngame: /noctrl or /nc"
    IDCHECKBOX_NOSHIFT,             "Turns force heal on and off.\nEnables you to use your 'force heal' ability without the having to hold the SHIFT key.\n\nIngame: /noshift or /ns"
    IDCHECKBOX_NOTRADE,             "Turns auto-rejecting trades on and off.\n\nIngame: /notrade or /nt"
    IDCHECKBOX_SHOPPING,            "Turns shopping mode on and off.\nEnables you to open a shop with a single left-click and close it again with a single right-click.\n\nIngame: /shopping or /sh"
    IDCHECKBOX_SNAP,                "Turns targeting cursor snapping for conventional attacks on and off.\n\nIngame: /snap"
    IDCHECKBOX_SKILLFAIL,           "Turns skill failure messages on and off.\n\nIngame: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "Turns public chat in chat window on and off.\nPublic chat is still displayed above the head of the respective characters.\n\nIngame: /notalkmsg or /nm"
    IDCHECKBOX_NOTALKMSG2,          "Turns all chat in chat window on and off.\nChat is still displayed above the head of the respective characters.\n\nIngame: /notalkmsg2 or /nm2"
    IDCHECKBOX_SHOWNAME,            "Turns alternative character name font style on and off.\nThe font can be either thin, displaying all information, or bold displaying all but the party and guild name.\n\nIngame: /showname"
    IDCHECKBOX_STATEINFO,           "Turns status change icon description on and off.\nEnables you to display a short description of a status change when mousing over it's icon.\n\nIngame: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "Turns 'tip of the day' on and off.\nTip of the day shows up every time you enter the game and displays various game tips and command descriptions.\n\nIngame: /tip"
    IDCHECKBOX_WINDOW,              "Turns window docking on and off.\nMakes windows dock/snap together at their edges when you move them.\n\nIngame: /window"
    IDTRACKBAR_STREAMVOLUME,        "Controls the volume of background music.\n\nIngame: /bv <volume:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "Controls the volume of sound effects.\n\nIngame: /v <volume:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "Turns background music (BGM) on and off.\nThis affects only music played from folder BGM. To turn off skill-bound music, such as dances, turn off sound effects instead.\n\nIngame: /bgm"
    IDCHECKBOX_ISSOUNDON,           "Turns sound effects on and off.\n\nIngame: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "Turns mouse movement constraints on and off.\n\nEnables you to restrain all mouse movements to the game window as long the window is active. To escape the constraint use Windows-Key or Alt+Tab.\nNote: This setting has the same effect as ROExt's Mouse Freedom."
    IDCHECKBOX_TRILINEARFILTER,     "Turns trilinear filtering (smoothing) on and off. Blurs all graphics to achieve a smoothening effect, but might cause text harder to read.\n\nIngame: Alt+D"
    IDCHECKBOX_RESETWINDOWS,        "Restores the default position and settings of ingame user-interface elements for all servers upon next saving.\nNote: This action cannot be undone."
    IDCHECKBOX_RESETSKILLLV,        "Deletes all skill-tree skill level selector information for all characters on all servers upon next saving.\n\nReclaimed space can total up to few hundred kilobytes registry data for accounts with a very long history.\nNote: This action cannot be undone."
    IDCHECKBOX_RESETFOLDER,         "Deletes all user data created by the client.\n\nThis will delete all screenshots, saved chat conversations and cached guild emblems from the folder OpenSetup resides in.\nNote: Files are moved into the recycle bin, if possible."
    IDCHECKBOX_RESETSETTING,        "Deletes ALL settings, restoring the installation to factory-defaults, except for received patches.\n\nSettings will be lost and have to be set anew. Normally you use this when you are about to uninstall the game.\nNote: This action cannot be undone."
    IDINFOICON_VIDEO_REMOTESESSION, "Warning: Remote desktop session detected.\n\nYour graphics card cannot be detected over RDP."
    IDCHECKBOX_SKILLSNAP,           "Turns targeting cursor snapping for skills on and off.\n\nIngame: /skillsnap"
    IDCHECKBOX_HELDEVICE,           "Turns hardware-accelerated graphics on and off.\n\nThis option is only for troubleshooting graphics card issues. When enabled, graphics card will not be utilized by the client for graphics rendering.\nNote: This option is NOT recommended for low and average system specification users."
    IDINFOICON_VIDEO_MIRRORDRIVER,  "Warning: Mirror driver detected.\n\nYour graphics card cannot be detected when a mirror driver is active. This can be caused by an active VNC session, remote control server software or malware."
    IDINFOICON_SOUND_MISSINGFILES,  "Warning: Missing or corrupt 'Miles Sound System' files.\n\nYou are missing some or all of the following files: 'mss32.dll', 'mssfast.m3d', 'mp3dec.asi'. Background music might not work."
    IDCHECKBOX_MONSTERHP,           "Turns monster HP display on and off.\n\nIngame: /monsterhp"
    IDCHECKBOX_Q1,                  "Turns F9 mouse-mapping on and off.\nEnables you to use a skill assigned to F9 hotkey with a right-click.\n\nIngame: /quickspell or /q1"
    IDCHECKBOX_Q2,                  "Turns F7 and F8 mouse-mapping on and off.\nEnables you to use skills assigned to F7 and F8 hotkeys by rolling the mouse wheel up and down respectively.\n\nIngame: /quickspell2 or /q2"
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48 Channel"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32 Channel"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16 Channel"
    TEXT_SOUNDMODE_NOSOUND,         "No Sound"
    TEXT_SOUNDMODE_2DSOUND,         "Use 2D Sound"
    TEXT_SOUNDMODE_3DSOUND,         "Use 3D Sound"
    TEXT_SPEAKERTYPE_2SPEAKER,      "2 SPEAKER"
    TEXT_SPEAKERTYPE_HEADPHONE,     "HEADPHONE"
    TEXT_SPEAKERTYPE_SURROUND,      "SURROUND"
    TEXT_SPEAKERTYPE_4SPEAKER,      "4 SPEAKER"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16 bit"
    TEXT_DIGITALBITSTYPE_8BIT,      "8 bit"
    // tabs
    TEXT_TAB_GRAPHICS,              "Graphics"
    TEXT_TAB_SOUNDS,                "Sounds"
    TEXT_TAB_SETTINGS,              "Settings"
    TEXT_TAB_ABOUT,                 "About"
    // dialog items
    TEXT_DLG_OK,                    "OK"
    TEXT_DLG_CANCEL,                "Cancel"
    TEXT_DLG_APPLY,                 "Apply"
    TEXT_DLG_GRAPHIC_SETTINGS,      "Graphics Settings"
    TEXT_DLG_GRAPHIC_DEVICE,        "Graphics Device:"
    TEXT_DLG_RESOLUTION,            "Resolution:"
    TEXT_DLG_OPTIONS,               "Options:"
    TEXT_DLG_FULLSCREEN,            "Play in Full Screen"
    TEXT_DLG_FOG,                   "Enable Fog"
    TEXT_DLG_LIGHTMAP,              "Use Lightmap"
    TEXT_DLG_TRILINEAR_FILTER,      "Trilinear Filtering"
    TEXT_DLG_SPRITE_QUALITY,        "Sprite Quality:"
    TEXT_DLG_TEXTURE_QUALITY,       "Texture Quality:"
    TEXT_DLG_TROUBLESHOOTING,       "Troubleshooting:"
    TEXT_DLG_VOODOO3_CARD,          "VooDoo3 graphics card"
    TEXT_DLG_RESTRICT_MOUSE,        "Restrict mouse to window"
    TEXT_DLG_SOUND_SETTINGS,        "Sound Settings"
    TEXT_DLG_SOUND_MODE,            "Sound Mode:"
    TEXT_DLG_SPEAKER_TYPE,          "Speaker Type:"
    TEXT_DLG_CHANNELS,              "Channels:"
    TEXT_DLG_BITDEPTH,              "Bitdepth:"
    TEXT_DLG_BITRATE,               "Bitrate:"
    TEXT_DLG_BGM_VOLUME,            "BGM Volume:"
    TEXT_DLG_SOUND_VOLUME,          "Sound Volume:"
    TEXT_DLG_MUTE,                  "Mute"
    TEXT_DLG_GENERAL_SETTINGS,      "General Settings"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "ROExt Settings"
    TEXT_DLG_MOUSE_FREEDOM,         "Mouse Freedom"
    TEXT_DLG_REMAP_MOUSE,           "Remap Mouse Buttons"
    TEXT_DLG_REMAP_ALTF4,           "Remap Alt+F4"
    TEXT_DLG_FREE_CPU,              "Free CPU When Inactive"
    TEXT_DLG_ALWAYS_ON_TOP,         "Always on Top"
    TEXT_DLG_LOCK_WINDOW,           "Lock Window"
    TEXT_DLG_CODEPAGE,              "Codepage:"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "Note: This page appears only, because ROExt has been detected."
    TEXT_DLG_ABOUT_OPENSETUP,       "About RagnarokOnline OpenSetup"
    TEXT_DLG_LIST_CP_DEFAULT,       "(default)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (unknown)"
    TEXT_DLG_COMMANDS,              "Commands:"
    TEXT_DLG_RESET_RESTORE,         "Restore Defaults:"
    TEXT_DLG_RESET_WINDOWS,         "Reset UI position and settings to default"
    TEXT_DLG_RESET_SKILLLV,         "Reset skill level selectors to default"
    TEXT_DLG_RESET_FOLDER,          "Delete client-created user data"
    TEXT_DLG_RESET_SETTING,         "Delete ALL Ragnarok-related settings (factory reset)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "Disable hardware-accelerated graphics"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - resize the window to desired size"
    // error messages
    TEXT_ERROR__TITLE,              "Error"
    TEXT_ERROR__TITLE_LUA,          "Lua Error"
    TEXT_ERROR__SYSTEM_ERROR,       "System Error"
    TEXT_ERROR_INIT_MUTEX,          "Failed to initialize mutex."
    TEXT_ERROR_INIT_COMCTL32,       "Failed to initialize common controls."
    TEXT_ERROR_INIT_DIRECTX7,       "Failed to retrieve DirectX information. Make sure DirectX 7 or newer is installed."
    TEXT_ERROR_HKEY_CREATE,         "Failed to create settings registry key."
    TEXT_ERROR_HKEY_WRITE,          "Failed to write settings to registry."
    TEXT_ERROR_HKEY_OPT_CREATE,     "Failed to create option settings registry key."
    TEXT_ERROR_HKEY_OPT_WRITE,      "Failed to write option settings to registry."
    TEXT_ERROR_FILE_WRITE,          "Failed to write settings."
    TEXT_ERROR_FILE_OPEN_READONLY,  "Failed to open settings file for writing. File is marked as read-only."
    TEXT_ERROR_FILE_OPEN,           "Failed to open settings file for writing."
    TEXT_ERROR_DIRECTORY_CREATE,    "Failed to create settings directory."
    TEXT_ERROR_ROEXT_WRITE,         "Failed to write ROExt settings."
    TEXT_ERROR_IPC_FAILED,          "Inter-process-communication failed."
    TEXT_ERROR_UNKNOWN_ENGINE,      "Selected settings engine does not exist (code=0x%08x)."
    TEXT_ERROR_INSANE_ENGINE,       "Selected settings engine has determined, that your installation state will interfere with the correct loading and saving of settings.\n\nSee opensetup.log for details."
END
