// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010-2013 Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

// You may adjust these to the language you are translating to. See
// http://msdn.microsoft.com/en-us/library/dd318693(VS.85).aspx for
// available constants.
//LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE DISCARDABLE
BEGIN
    // help strings for context-help
    // length of the strings is limited to 255 characters
    IDCOMBOBOX_VIDEODEVICE,         "Controls the type of graphics device to use.\r\nNOTE: You will need to update your graphics card drivers and DirectX* if the list is empty."
    IDCOMBOBOX_RESOLUTION,          "Controls the window size when in windowed mode and the screen resolution when in full-screen.\r\nNOTE: You will need to update your graphics card drivers and DirectX* if the list is empty."
    IDCOMBOBOX_SOUND_MODE,          "Controls the type of sound device to use.\r\nIf turned off, both background music and sound effects will not work."
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "Controls the type of speakers in use.\r\nAffects volume and 3D sound output."
    IDCOMBOBOX_SOUND_BITRATE,       "Controls the bit-rate of sounds.\r\nMore means better sound quality, but also higher CPU usage."
    IDCOMBOBOX_SOUND_BITDEPTH,      "Controls the bit-depth of sounds.\r\nMore means better sound quality, but also higher CPU usage."
    IDCOMBOBOX_SOUND_CHANNELS,      "Controls the channel-depth of sounds.\r\nMore means better sound quality, but also higher CPU usage."
    IDCHECKBOX_FULLSCREEN,          "Turns full-screen game play on and off.\r\nYou might want to turn this off to play in windowed mode, when you want to switch between programs while playing."
    IDCHECKBOX_FOG,                 "Turns the fog-effect on and off.\r\nFog effect is implemented to embody the weather of fields.\r\nNOTE: This effect might be a burden for low system specification users and is not supported by all graphics cards.\r\n\r\nIngame: /fog"
    IDCHECKBOX_LIGHTMAP,            "Turns shadow effects on and off.\r\nNOTE: This effect might be a burden for low system specification users.\r\n\r\nIngame: /lightmap"
    IDCHECKBOX_VOODOO,              "Turns VooDoo3 graphics card hacks on and off.\r\nThis option is only for troubleshooting graphics card issues."
    IDTRACKBAR_SPRITEQ,             "Controls quality of sprite graphics.\r\nSprite graphics are player characters, monsters, items and similar objects. More means better quality, but also a higher memory usage.\r\n\r\nIngame: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "Controls quality of texture graphics.\r\nTexture graphics are map grounds, 3D-object surfaces (houses) and loading screens. More means better quality, but also a higher memory usage.\r\n\r\nIngame: Alt+D"
    IDCHECKBOX_AURA,                "Turns aura effect on and off.\r\nThis effect is displayed when you attain maximum base level for your job.\r\n\r\nIngame: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "Turns camera zooming on and off.\r\nNOTE: This effect might be a burden for low system specification users.\r\n\r\nIngame: /camera"
    IDCHECKBOX_ISEFFECTON,          "Turns various visual special effects on and off.\r\nNOTE: Enabled effects might be a burden for low system specification users.\r\n\r\nIngame: /effect"
    IDCHECKBOX_ONHOUSERAI,          "Turns user-customized homunculus AI on and off.\r\nMakes the current homunculus act according AI\\USER_AI\\AI.lua instead of AI\\AI.lua script.\r\n\r\nIngame: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "Turns pick-up cursor snapping for items on and off.\r\n\r\nIngame: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "Turns notifications about guildmen and friends online status changes on and off.\r\n\r\nIngame: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "Turns user-customized mercenary AI on and off.\r\nMakes the current mercenary act according AI\\USER_AI\\AI_M.lua instead of AI\\AI_M.lua script.\r\n\r\nIngame: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "Turns miss-effect on and off.\r\nDisplays a 'Miss' for your (red) or your opponent's (white) attack misses.\r\nNOTE: This effect might be a burden for low system specification users.\r\n\r\nIngame: /miss"
    IDCHECKBOX_NOCTRL,              "Turns auto-attack on and off.\r\nEnables you to auto-attack an enemy without having to hold CTRL key when starting the attack.\r\n\r\nIngame: /noctrl or /nc"
    IDCHECKBOX_NOSHIFT,             "Turns force heal on and off.\r\nEnables you to use your 'force heal' ability without the having to hold the SHIFT key.\r\n\r\nIngame: /noshift or /ns"
    IDCHECKBOX_NOTRADE,             "Turns auto-rejecting trades on and off.\r\n\r\nIngame: /notrade or /nt"
    IDCHECKBOX_SHOPPING,            "Turns shopping mode on and off.\r\nEnables you to open a shop with a single left-click and close it again with a single right-click.\r\n\r\nIngame: /shopping or /sh"
    IDCHECKBOX_SNAP,                "Turns targeting cursor snapping for conventional attacks on and off.\r\n\r\nIngame: /snap"
    IDCHECKBOX_SKILLFAIL,           "Turns skill failure messages on and off.\r\n\r\nIngame: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "Turns public chat in chat window on and off.\r\nPublic chat is still displayed above the head of the respective characters.\r\n\r\nIngame: /notalkmsg or /nm"
    IDCHECKBOX_NOTALKMSG2,          "Turns all chat in chat window on and off.\r\nChat is still displayed above the head of the respective characters.\r\n\r\nIngame: /notalkmsg2 or /nm2"
    IDCHECKBOX_SHOWNAME,            "Turns alternative character name font style on and off.\r\nThe font can be either thin, displaying all information, or bold displaying all but the party and guild name.\r\n\r\nIngame: /showname"
    IDCHECKBOX_STATEINFO,           "Turns status change icon description on and off.\r\nEnables you to display a short description of a status change when mousing over it's icon.\r\n\r\nIngame: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "Turns 'tip of the day' on and off.\r\nTip of the day shows up everytime you enter the game and displays various game tips and command descriptions.\r\n\r\nIngame: /tip"
    IDCHECKBOX_WINDOW,              "Turns window docking on and off.\r\nMakes windows dock/snap together at their edges when you move them.\r\n\r\nIngame: /window"
    IDTRACKBAR_STREAMVOLUME,        "Controls the volume of background music.\r\n\r\nIngame: /bv <volume:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "Controls the volume of sound effects.\r\n\r\nIngame: /v <volume:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "Turns background music (BGM) on and off.\r\nThis affects only music played from folder BGM. To turn off skill-bound music, such as dances, turn off sound effects instead.\r\n\r\nIngame: /bgm"
    IDCHECKBOX_ISSOUNDON,           "Turns sound effects on and off.\r\n\r\nIngame: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "Turns mouse movement constraints on and off.\r\n\r\nEnables you to restrain all mouse movements to the game window as long the window is active. To escape the constraint use Windows-Key or Alt+Tab.\r\nNOTE: This setting has the same effect as ROExt's Mouse Freedom."
    IDCHECKBOX_TRILINEARFILTER,     "Turns trilinear filtering (smoothing) on and off. Blurs all graphics to achieve a smoothening effect, but might cause text harder to read.\r\n\r\nIngame: Alt+D"
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48 Channel"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32 Channel"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16 Channel"
    TEXT_SOUNDMODE_NOSOUND,         "No Sound"
    TEXT_SOUNDMODE_2DSOUND,         "Use 2D Sound"
    TEXT_SOUNDMODE_3DSOUND,         "Use 3D Sound"
    TEXT_SPEAKERTYPE_2SPEAKER,      "2 SPEAKER"
    TEXT_SPEAKERTYPE_HEADPHONE,     "HEADPHONE"
    TEXT_SPEAKERTYPE_SURROUND,      "SURROUND"
    TEXT_SPEAKERTYPE_4SPEAKER,      "4 SPEAKER"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16 bit"
    TEXT_DIGITALBITSTYPE_8BIT,      "8 bit"
    // tabs
    TEXT_TAB_GRAPHICS,              "Graphics"
    TEXT_TAB_SOUNDS,                "Sounds"
    TEXT_TAB_SETTINGS,              "Settings"
    TEXT_TAB_ABOUT,                 "About"
    // dialog items
    TEXT_DLG_OK,                    "OK"
    TEXT_DLG_CANCEL,                "Cancel"
    TEXT_DLG_APPLY,                 "Apply"
    TEXT_DLG_GRAPHIC_SETTINGS,      "Graphic Settings"
    TEXT_DLG_GRAPHIC_DEVICE,        "Graphic Device:"
    TEXT_DLG_RESOLUTION,            "Resolution:"
    TEXT_DLG_OPTIONS,               "Options:"
    TEXT_DLG_FULLSCREEN,            "Play in Full Screen"
    TEXT_DLG_FOG,                   "Enable Fog"
    TEXT_DLG_LIGHTMAP,              "Use Lightmap"
    TEXT_DLG_TRILINEAR_FILTER,      "Trilinear Filtering"
    TEXT_DLG_SPRITE_QUALITY,        "Sprite Quality:"
    TEXT_DLG_TEXTURE_QUALITY,       "Texture Quality:"
    TEXT_DLG_TROUBLESHOOTING,       "Troubleshooting:"
    TEXT_DLG_VOODOO3_CARD,          "VooDoo3 graphics card"
    TEXT_DLG_RESTRICT_MOUSE,        "Restrict mouse to window"
    TEXT_DLG_SOUND_SETTINGS,        "Sound Settings"
    TEXT_DLG_SOUND_MODE,            "Sound Mode:"
    TEXT_DLG_SPEAKER_TYPE,          "Speaker Type:"
    TEXT_DLG_CHANNELS,              "Channels:"
    TEXT_DLG_BITDEPTH,              "Bitdepth:"
    TEXT_DLG_BITRATE,               "Bitrate:"
    TEXT_DLG_BGM_VOLUME,            "BGM Volume:"
    TEXT_DLG_SOUND_VOLUME,          "Sound Volume:"
    TEXT_DLG_MUTE,                  "Mute"
    TEXT_DLG_GENERAL_SETTINGS,      "General Settings"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "ROExt Settings"
    TEXT_DLG_MOUSE_FREEDOM,         "Mouse Freedom"
    TEXT_DLG_REMAP_MOUSE,           "Remap Mouse Buttons"
    TEXT_DLG_REMAP_ALTF4,           "Remap Alt+F4"
    TEXT_DLG_FREE_CPU,              "Free CPU When Inactive"
    TEXT_DLG_ALWAYS_ON_TOP,         "Always on Top"
    TEXT_DLG_LOCK_WINDOW,           "Lock Window"
    TEXT_DLG_CODEPAGE,              "Codepage:"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "Note: This page appears only, because ROExt has been detected."
    TEXT_DLG_ABOUT_OPENSETUP,       "About RagnarokOnline OpenSetup"
    TEXT_DLG_LIST_CP_DEFAULT,       "(default)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (unknown)"
    // error messages
    TEXT_ERROR__TITLE,              "Error"
    TEXT_ERROR__TITLE_LUA,          "Lua Error"
    TEXT_ERROR__SYSTEM_ERROR,       "System Error"
    TEXT_ERROR_INIT_MUTEX,          "Failed to initialize mutex."
    TEXT_ERROR_INIT_COMCTL32,       "Failed to initialize common controls."
    TEXT_ERROR_INIT_DIRECTX7,       "Failed to retrieve DirectX information. Make sure DirectX 7 or newer is installed."
    TEXT_ERROR_HKEY_CREATE,         "Failed to create settings registry key."
    TEXT_ERROR_HKEY_WRITE,          "Failed to write settings to registry."
    TEXT_ERROR_HKEY_OPT_CREATE,     "Failed to create option settings registry key."
    TEXT_ERROR_HKEY_OPT_WRITE,      "Failed to write option settings to registry."
    TEXT_ERROR_FILE_WRITE,          "Failed to write settings."
    TEXT_ERROR_FILE_OPEN_READONLY,  "Failed to open settings file for writing. File is marked as read-only."
    TEXT_ERROR_FILE_OPEN,           "Failed to open settings file for writing."
    TEXT_ERROR_DIRECTORY_CREATE,    "Failed to create settings directory."
    TEXT_ERROR_ROEXT_WRITE,         "Failed to write ROExt settings."
END
