// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010-2014 Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

#include <windows.h>
#include "../resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_APPLICATION_LARGE ICON "appicon_l.ico"
IDI_APPLICATION_SMALL ICON "appicon_s.ico"
IDI_ENGINE_REG ICON "engine_reg.ico"
IDI_ENGINE_LUA ICON "engine_lua.ico"
IDI_PROBLEM ICON "warning.ico"
//

//
//
//
IDB_IMAGELIST_MASK BITMAP "imagelist-mask.bmp"
//
IDB_IMAGELIST_24BP BITMAP "imagelist24.bmp"
IDB_IMAGELIST_32BP BITMAP "imagelist32.bmp"

// defines to allow simple resizing while taking border-bound
// controls into account (relative positioning).
// CX = Full Width, CY = Full Height,
// HX = Half Width, (RC cannot divide)
// BY = Bottom Height,
// TY = Tab Height,
#define MDLG_CX 296
#define MDLG_HX 148
#define MDLG_TY 15
//
//
//
//
    #define MDLG_CY 270
    #define MDLG_BY 20
//

IDD_MAIN_DIALOG DIALOGEX 0, 0, MDLG_CX, MDLG_CY
STYLE DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "RagnarokOnline OpenSetup"
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
//
//
//
    CONTROL "", IDELOGO, STATIC, SS_ICON | SS_REALSIZEIMAGE | SS_NOTIFY, 7, MDLG_CY-19, 0, 0
    CONTROL "#8200", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, MDLG_CX-163, MDLG_CY-20, 50, 14
    CONTROL "#8201", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, MDLG_CX-109, MDLG_CY-20, 50, 14
    CONTROL "#8202", IDAPPLY, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, MDLG_CX-55, MDLG_CY-20, 50, 14
END

IDD_TAB_VIDEO DIALOGEX 0, MDLG_TY, MDLG_CX, MDLG_CY-MDLG_BY-MDLG_TY
STYLE WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8203", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, MDLG_CX-10, MDLG_CY-MDLG_BY-MDLG_TY-10
    CONTROL "#8204", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 20, 150, 9
    CONTROL "", IDCOMBOBOX_VIDEODEVICE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 30, MDLG_CX-75, 100
    CONTROL IDI_PROBLEM, IDINFOICON_VIDEO_REMOTESESSION, STATIC, SS_ICON | SS_REALSIZEIMAGE | SS_NOTIFY, MDLG_CX-55, 31, 0, 0
    CONTROL IDI_PROBLEM, IDINFOICON_VIDEO_MIRRORDRIVER, STATIC, SS_ICON | SS_REALSIZEIMAGE | SS_NOTIFY, MDLG_CX-44, 31, 0, 0
    CONTROL "#8205", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 50, 150, 9
    CONTROL "", IDCOMBOBOX_RESOLUTION, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 60, MDLG_CX-75, 100
    //
    CONTROL "#8206", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 80, MDLG_CX-30, 9
    CONTROL "#8207", IDCHECKBOX_FULLSCREEN, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 90, 115, 10
    CONTROL "#8208", IDCHECKBOX_FOG, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 90, 115, 10
    CONTROL "#8210", IDCHECKBOX_TRILINEARFILTER, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 105, 115, 10
    CONTROL "#8209", IDCHECKBOX_LIGHTMAP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 105, 115, 10
    CONTROL "#8211", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 120, 115, 8
    CONTROL "", IDTRACKBAR_SPRITEQ, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 130, 115, 12
    CONTROL "#8212", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 150, 120, 115, 8
    CONTROL "", IDTRACKBAR_TEXTUREQ, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 130, 115, 12
    CONTROL "#8213", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 150, MDLG_CX-30, 9
    CONTROL "#8214", IDCHECKBOX_VOODOO, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 160, MDLG_CX-30, 10
    CONTROL "#8215", IDCHECKBOX_MOUSEEXCLUSIVE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 175, MDLG_CX-30, 10
    CONTROL "#8265", IDCHECKBOX_HELDEVICE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 190, MDLG_CX-30, 10
END

IDD_TAB_SOUND DIALOGEX 0, MDLG_TY, MDLG_CX, MDLG_CY-MDLG_BY-MDLG_TY
STYLE WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8216", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, MDLG_CX-10, MDLG_CY-MDLG_BY-MDLG_TY-10
    CONTROL "#8217", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 20, 150, 9
    CONTROL "", IDCOMBOBOX_SOUND_MODE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 30, 150, 98
    CONTROL IDI_PROBLEM, IDINFOICON_SOUND_MISSINGFILES, STATIC, SS_ICON | SS_REALSIZEIMAGE | SS_NOTIFY, 170, 31, 0, 0
    CONTROL "#8218", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 50, 150, 9
    CONTROL "", IDCOMBOBOX_SOUND_SPEAKERTYPE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 60, 150, 98
    CONTROL "#8219", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 170, 50, 95, 8
    CONTROL "", IDCOMBOBOX_SOUND_CHANNELS, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 170, 60, 95, 100
    CONTROL "#8220", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 80, 75, 8
    CONTROL "", IDCOMBOBOX_SOUND_BITDEPTH, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 90, 75, 100
    CONTROL "#8221", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 95, 80, 70, 8
    CONTROL "", IDCOMBOBOX_SOUND_BITRATE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 95, 90, 70, 100
    CONTROL "#8222", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 110, 115, 8
    CONTROL "", IDTRACKBAR_STREAMVOLUME, "msctls_trackbar32", TBS_HORZ | TBS_NOTICKS | TBS_TOOLTIPS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 120, 115, 12
    CONTROL "#8224", IDCHECKBOX_BGMISPAUSED, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 135, 115, 10
    CONTROL "#8223", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 150, 110, 115, 8
    CONTROL "", IDTRACKBAR_SOUNDVOLUME, "msctls_trackbar32", TBS_HORZ | TBS_NOTICKS | TBS_TOOLTIPS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 120, 115, 12
    CONTROL "#8224", IDCHECKBOX_ISSOUNDON, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 135, 115, 10
END

IDD_TAB_SETUP DIALOGEX 0, MDLG_TY, MDLG_CX, MDLG_CY-MDLG_BY-MDLG_TY
STYLE WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8225", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, MDLG_CX-10, MDLG_CY-MDLG_BY-MDLG_TY-10
    CONTROL "#8258", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 20, MDLG_CX-30, 9
    // 30
    CONTROL "#8226", IDCHECKBOX_AURA, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 30, 72, 10
    CONTROL "#8227", IDCHECKBOX_ISFIXEDCAMERA, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 30, 72, 10
    CONTROL "#8228", IDCHECKBOX_ISEFFECTON, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 30, 72, 10
    // 45
    CONTROL "#8229", IDCHECKBOX_ONHOUSERAI, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 45, 72, 10
    CONTROL "#8230", IDCHECKBOX_ISITEMSNAP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 45, 72, 10
    CONTROL "#8231", IDCHECKBOX_LOGINOUT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 45, 72, 10
    // 60
    CONTROL "#8266", IDCHECKBOX_MONSTERHP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 60, 72, 10
    CONTROL "#8232", IDCHECKBOX_ONMERUSERAI, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 60, 72, 10
    CONTROL "#8233", IDCHECKBOX_MAKEMISSEFFECT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 60, 72, 10
    // 75
    CONTROL "#8234", IDCHECKBOX_NOCTRL, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 75, 72, 10
    CONTROL "#8235", IDCHECKBOX_NOSHIFT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 75, 72, 10
    CONTROL "#8240", IDCHECKBOX_NOTALKMSG, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 75, 72, 10
    // 90
    CONTROL "#8241", IDCHECKBOX_NOTALKMSG2, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 90, 72, 10
    CONTROL "#8236", IDCHECKBOX_NOTRADE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 90, 72, 10
    CONTROL "#8267", IDCHECKBOX_Q1, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 90, 72, 10
    // 105
    CONTROL "#8268", IDCHECKBOX_Q2, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 105, 72, 10
    CONTROL "#8237", IDCHECKBOX_SHOPPING, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 105, 72, 10
    CONTROL "#8242", IDCHECKBOX_SHOWNAME, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 105, 72, 10
    // 120
    CONTROL "#8238", IDCHECKBOX_SNAP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 120, 72, 10
    CONTROL "#8239", IDCHECKBOX_SKILLFAIL, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 120, 72, 10
    CONTROL "#8264", IDCHECKBOX_SKILLSNAP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 120, 72, 10
    // 135
    CONTROL "#8243", IDCHECKBOX_STATEINFO, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 135, 72, 10
    CONTROL "#8244", IDCHECKBOX_SHOWTIPSATSTARTUP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 135, 72, 10
    CONTROL "#8245", IDCHECKBOX_WINDOW, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 135, 72, 10
    //
    CONTROL "#8259", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 155, MDLG_CX-30, 9
    CONTROL "#8260", IDCHECKBOX_RESETWINDOWS, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 165, MDLG_CX-30, 10
    CONTROL "#8261", IDCHECKBOX_RESETSKILLLV, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 180, MDLG_CX-30, 10
    CONTROL "#8262", IDCHECKBOX_RESETFOLDER, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 195, MDLG_CX-30, 10
    CONTROL "#8263", IDCHECKBOX_RESETSETTING, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 210, MDLG_CX-30, 10
END

IDD_TAB_ROEXT DIALOGEX 0, MDLG_TY, MDLG_CX, MDLG_CY-MDLG_BY-MDLG_TY
STYLE WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8246", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, MDLG_CX-10, MDLG_CY-MDLG_BY-MDLG_TY-10
    CONTROL "#8247", IDCHECKBOX_MOUSEFREEDOM, BUTTON, BS_AUTOCHECKBOX | BS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 20, MDLG_CX-30, 10
    CONTROL "#8248", IDCHECKBOX_REMAPMOUSEBUTTONS, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 35, MDLG_CX-40, 10
    CONTROL "#8249", IDCHECKBOX_REMAPALTF4, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 50, MDLG_CX-30, 10
    CONTROL "#8250", IDCHECKBOX_AUTOFREECPU, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 65, MDLG_CX-30, 10
    CONTROL "#8251", IDCHECKBOX_WINDOWONTOP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 80, 115, 10
    CONTROL "#8252", IDCHECKBOX_WINDOWLOCK, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 80, 115, 10
    CONTROL "#8253", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 95, MDLG_CX-30, 9
    CONTROL "", IDCOMBOBOX_CODEPAGE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 105, MDLG_CX-30, 98
    CONTROL "#8254", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 15, MDLG_CY-MDLG_BY-MDLG_TY-30, MDLG_CX-30, 9
    CONTROL "ROExt © 2010-2014 Ruri", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 15, MDLG_CY-MDLG_BY-MDLG_TY-20, MDLG_CX-30, 9
END

IDD_TAB_ABOUT DIALOGEX 0, MDLG_TY, MDLG_CX, MDLG_CY-MDLG_BY-MDLG_TY
STYLE WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8255", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, MDLG_CX-10, MDLG_CY-MDLG_BY-MDLG_TY-10
    CONTROL IDI_APPLICATION_LARGE, -1, STATIC, SS_ICON, 15, 20, 0, 0
    CONTROL "", IDC_ABOUT_TITLE, "STATIC", SS_LEFT | SS_NOPREFIX | WS_TABSTOP, 45, 22, MDLG_CX-60, 16
    CONTROL "", IDC_ABOUT_CORPSE, "EDIT", WS_VSCROLL | WS_BORDER | WS_TABSTOP | ES_CENTER | ES_READONLY | ES_MULTILINE | ES_AUTOVSCROLL, 15, 50, MDLG_CX-30, MDLG_CY-MDLG_BY-MDLG_TY-85
    CONTROL "WWW", IDHOMEPAGE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, MDLG_CY-MDLG_BY-MDLG_TY-30, 50, 14
END

IDD_DRAGSIZE_DIALOG DIALOG 0, 0, 300, 100
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION ""
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
BEGIN
    CONTROL "", 0, "msctls_statusbar32", SBARS_SIZEGRIP | WS_CHILD | WS_VISIBLE, 0, 0, 0, 0
END

IDA_MAIN_DIALOG ACCELERATORS
BEGIN
    VK_TAB, IDC_TABNEXT, NOINVERT, CONTROL, VIRTKEY
    VK_TAB, IDC_TABPREV, NOINVERT, CONTROL, SHIFT, VIRTKEY
END

1 VERSIONINFO
FILEVERSION APP_VERSIONINFO_VERSION
PRODUCTVERSION APP_VERSIONINFO_VERSION
FILEOS 0x4
FILETYPE 0x1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "00000000"
        BEGIN
            VALUE "CompanyName", "Ai4rei/AN"
            VALUE "FileDescription", "RagnarokOnline OpenSetup"
            VALUE "FileVersion", APP_VERSION
            VALUE "InternalName", "OpenSetup"
            VALUE "LegalCopyright", "Copyright © 2010-2014 Ai4rei/AN"
            VALUE "LegalTrademarks", "RagnarokOnline is a trademark of Gravity Co., Ltd."
            VALUE "OriginalFilename", "OPENSETUP.EXE"
            VALUE "ProductName", "RagnarokOnline OpenSetup"
            VALUE "ProductVersion", APP_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000 0x0000
    END
END

1 24 DISCARDABLE
BEGIN
    "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>"
    "<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"">"
        "<assemblyIdentity name=""OpenSetup"" processorArchitecture=""x86"" version="APP_VERSION" type=""win32""/>"
        "<description>RagnarokOnline OpenSetup</description>"
        "<dependency>"
            "<dependentAssembly>"
                "<assemblyIdentity type=""win32"" name=""Microsoft.Windows.Common-Controls"" version=""6.0.0.0"" processorArchitecture=""x86"" publicKeyToken=""6595b64144ccf1df"" language=""*""/>"
            "</dependentAssembly>"
        "</dependency>"
        "<trustInfo xmlns=""urn:schemas-microsoft-com:asm.v2"">"
            "<security>"
                "<requestedPrivileges>"
                    "<requestedExecutionLevel level=""asInvoker"" uiAccess=""false""/>"
                "</requestedPrivileges>"
            "</security>"
        "</trustInfo>"
        "<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1"">"
            "<application>"
                "<supportedOS Id=""{e2011457-1546-43c5-a5fe-008deee3d3f0}""/>"  // Windows Vista
                "<supportedOS Id=""{35138b9a-5d96-4fbd-8e2d-a2440225f93a}""/>"  // Windows 7
                "<supportedOS Id=""{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}""/>"  // Windows 8
                "<supportedOS Id=""{1f676c76-80e1-4239-95bb-83d0f6d0da78}""/>"  // Windows 8.1
                "<supportedOS Id=""{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}""/>"  // Windows 10
            "</application>"
        "</compatibility>"
    "</assembly>"
END

#include "i18n/en_us.rc"
