// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010-2013 Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

#include <windows.h>
#include "../resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_APPLICATION_LARGE ICON "appicon_l.ico"
IDI_APPLICATION_SMALL ICON "appicon_s.ico"
IDI_ENGINE_REG ICON "engine_reg.ico"
IDI_ENGINE_LUA ICON "engine_lua.ico"

IDB_IMAGELIST32 BITMAP "imagelist32.bmp"
IDB_IMAGELIST BITMAP "imagelist.bmp"
IDB_IMAGELIST_MASK BITMAP "imagelist-mask.bmp"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 250, 235
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW | WS_EX_CONTROLPARENT | WS_EX_CONTEXTHELP
CAPTION "RagnarokOnline OpenSetup"
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8200", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 87, 215, 50, 14
    CONTROL "#8201", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 141, 215, 50, 14
    CONTROL "#8202", IDAPPLY, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 215, 50, 14
    CONTROL IDI_ENGINE_LUA, IDELOGO, STATIC, SS_ICON | SS_REALSIZEIMAGE | SS_NOTIFY, 7, 216, 0, 0
END

IDD_TAB_VIDEO DIALOG 0, 15, 250, 200
STYLE WS_CHILD | WS_VISIBLE
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8203", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 240, 190
    CONTROL "#8204", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 20, 150, 9
    CONTROL "", IDCOMBOBOX_VIDEODEVICE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 30, 150, 100
    CONTROL "#8205", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 50, 150, 9
    CONTROL "", IDCOMBOBOX_RESOLUTION, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 60, 150, 100
    CONTROL "#8206", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 80, 220, 9
    CONTROL "#8207", IDCHECKBOX_FULLSCREEN, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 90, 105, 10
    CONTROL "#8208", IDCHECKBOX_FOG, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 90, 105, 10
    CONTROL "#8209", IDCHECKBOX_LIGHTMAP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 105, 105, 10
    CONTROL "#8210", IDCHECKBOX_TRILINEARFILTER, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 105, 105, 10
    CONTROL "#8211", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 120, 105, 8
    CONTROL "Slider2", IDTRACKBAR_SPRITEQ, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 130, 105, 12
    CONTROL "#8212", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 130, 120, 105, 8
    CONTROL "Slider1", IDTRACKBAR_TEXTUREQ, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 130, 105, 12
    CONTROL "#8213", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 150, 220, 9
    CONTROL "#8214", IDCHECKBOX_VOODOO, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 160, 220, 10
    CONTROL "#8215", IDCHECKBOX_MOUSEEXCLUSIVE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 175, 220, 10
END

IDD_TAB_SOUND DIALOG 0, 15, 250, 200
STYLE WS_CHILD | WS_VISIBLE
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8216", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 240, 190
    CONTROL "#8217", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 20, 150, 9
    CONTROL "", IDCOMBOBOX_SOUND_MODE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 30, 150, 98
    CONTROL "#8218", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 50, 150, 9
    CONTROL "", IDCOMBOBOX_SOUND_SPEAKERTYPE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 60, 150, 98
    CONTROL "#8219", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 170, 50, 65, 8
    CONTROL "", IDCOMBOBOX_SOUND_CHANNELS, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 170, 60, 65, 100
    CONTROL "#8220", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 80, 50, 8
    CONTROL "", IDCOMBOBOX_SOUND_BITDEPTH, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 90, 50, 100
    CONTROL "#8221", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 70, 80, 60, 8
    CONTROL "", IDCOMBOBOX_SOUND_BITRATE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 70, 90, 60, 100
    CONTROL "#8222", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 110, 105, 8
    CONTROL "Slider2", IDTRACKBAR_STREAMVOLUME, "msctls_trackbar32", TBS_HORZ | TBS_NOTICKS | TBS_TOOLTIPS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 120, 105, 12
    CONTROL "#8224", IDCHECKBOX_BGMISPAUSED, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 135, 105, 10
    CONTROL "#8223", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 130, 110, 105, 8
    CONTROL "Slider1", IDTRACKBAR_SOUNDVOLUME, "msctls_trackbar32", TBS_HORZ | TBS_NOTICKS | TBS_TOOLTIPS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 120, 105, 12
    CONTROL "#8224", IDCHECKBOX_ISSOUNDON, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 135, 105, 10
END

IDD_TAB_SETUP DIALOG 0, 15, 250, 200
STYLE WS_CHILD | WS_VISIBLE
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8225", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 240, 190
    CONTROL "#8226", IDCHECKBOX_AURA, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 20, 72, 10
    CONTROL "#8227", IDCHECKBOX_ISFIXEDCAMERA, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 20, 72, 10
    CONTROL "#8228", IDCHECKBOX_ISEFFECTON, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 20, 72, 10
    CONTROL "#8229", IDCHECKBOX_ONHOUSERAI, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 35, 72, 10
    CONTROL "#8230", IDCHECKBOX_ISITEMSNAP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 35, 72, 10
    CONTROL "#8231", IDCHECKBOX_LOGINOUT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 35, 72, 10
    CONTROL "#8232", IDCHECKBOX_ONMERUSERAI, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 50, 72, 10
    CONTROL "#8233", IDCHECKBOX_MAKEMISSEFFECT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 50, 72, 10
    CONTROL "#8234", IDCHECKBOX_NOCTRL, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 50, 72, 10
    CONTROL "#8235", IDCHECKBOX_NOSHIFT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 65, 72, 10
    CONTROL "#8236", IDCHECKBOX_NOTRADE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 65, 72, 10
    CONTROL "#8237", IDCHECKBOX_SHOPPING, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 65, 72, 10
    CONTROL "#8238", IDCHECKBOX_SNAP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 80, 72, 10
    CONTROL "#8239", IDCHECKBOX_SKILLFAIL, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 80, 72, 10
    CONTROL "#8240", IDCHECKBOX_NOTALKMSG, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 80, 72, 10
    CONTROL "#8241", IDCHECKBOX_NOTALKMSG2, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 95, 72, 10
    CONTROL "#8242", IDCHECKBOX_SHOWNAME, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 95, 72, 10
    CONTROL "#8243", IDCHECKBOX_STATEINFO, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 95, 72, 10
    CONTROL "#8244", IDCHECKBOX_SHOWTIPSATSTARTUP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 110, 72, 10
    CONTROL "#8245", IDCHECKBOX_WINDOW, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 110, 72, 10
END

IDD_TAB_ROEXT DIALOG 0, 15, 250, 200
STYLE WS_CHILD | WS_VISIBLE
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8246", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 240, 190
    CONTROL "#8247", IDCHECKBOX_MOUSEFREEDOM, BUTTON, BS_AUTOCHECKBOX | BS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 20, 220, 10
    CONTROL "#8248", IDCHECKBOX_REMAPMOUSEBUTTONS, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 35, 210, 10
    CONTROL "#8249", IDCHECKBOX_REMAPALTF4, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 50, 105, 10
    CONTROL "#8250", IDCHECKBOX_AUTOFREECPU, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 65, 105, 10
    CONTROL "#8251", IDCHECKBOX_WINDOWONTOP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 80, 105, 10
    CONTROL "#8252", IDCHECKBOX_WINDOWLOCK, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 80, 105, 10
    CONTROL "#8253", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 95, 220, 9
    CONTROL "", IDCOMBOBOX_CODEPAGE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 105, 220, 98
    CONTROL "#8254", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 15, 150, 220, 9
    CONTROL "ROExt © 2010-2013 Ruri", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 15, 160, 220, 9
END

IDD_TAB_ABOUT DIALOG 0, 15, 250, 200
STYLE WS_CHILD | WS_VISIBLE
FONT DLG_FONT_SIZE, DLG_FONT_NAME
BEGIN
    CONTROL "#8255", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 240, 190
    CONTROL IDI_APPLICATION_LARGE, -1, STATIC, SS_ICON, 15, 20, 0, 0
    CONTROL "TITLE", IDC_ABOUT_TITLE, "STATIC", SS_LEFT | SS_NOPREFIX, 45, 22, 182, 16
    CONTROL "CORPSE", IDC_ABOUT_CORPSE, "EDIT", WS_VSCROLL | WS_BORDER | ES_LEFT | ES_READONLY | ES_MULTILINE | ES_AUTOVSCROLL, 15, 50, 220, 135
END

1 VERSIONINFO
FILEVERSION APP_VERSIONINFO_VERSION
PRODUCTVERSION APP_VERSIONINFO_VERSION
FILEOS 0x4
FILETYPE 0x1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "00000000"
        BEGIN
            VALUE "CompanyName", "Ai4rei/AN"
            VALUE "FileDescription", "RagnarokOnline OpenSetup"
            VALUE "FileVersion", APP_VERSION
            VALUE "InternalName", "OpenSetup"
            VALUE "LegalCopyright", "© 2010-2013 Ai4rei/AN"
            VALUE "LegalTrademarks", "RagnarokOnline is a trademark of Gravity Co., Ltd."
            VALUE "OriginalFilename", "OPENSETUP.EXE"
            VALUE "ProductName", "RagnarokOnline OpenSetup"
            VALUE "ProductVersion", APP_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000 0x0000
    END
END

1 24 DISCARDABLE
BEGIN
    "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>\n"
    "<assembly\n"
    "    xmlns=""urn:schemas-microsoft-com:asm.v1""\n"
    "    manifestVersion=""1.0"">\n"
    "    <assemblyIdentity\n"
    "        name=""OpenSetup""\n"
    "        processorArchitecture=""x86""\n"
    "        version="APP_VERSION"\n"
    "        type=""win32"" />\n"
    "    <description>RagnarokOnline OpenSetup</description>\n"
    "    <dependency>\n"
    "        <dependentAssembly>\n"
    "            <assemblyIdentity\n"
    "                type=""win32""\n"
    "                name=""Microsoft.Windows.Common-Controls""\n"
    "                version=""6.0.0.0""\n"
    "                processorArchitecture=""x86""\n"
    "                publicKeyToken=""6595b64144ccf1df""\n"
    "                language=""*"" />\n"
    "        </dependentAssembly>\n"
    "    </dependency>\n"
    "    <trustInfo xmlns=""urn:schemas-microsoft-com:asm.v2"">\n"
    "        <security>\n"
    "            <requestedPrivileges>\n"
    "                <requestedExecutionLevel\n"
    "                    level=""asInvoker""\n"
    "                    uiAccess=""false"" />\n"
    "            </requestedPrivileges>\n"
    "        </security>\n"
    "    </trustInfo>\n"
    "</assembly>"
END

#include "i18n/en_us.rc"
