#define APP_PRODUCTNAME "Keyboard Catcher Service"
#define APP_DESCRIPTION "Helper Service for Keyboard Catcher"
#define APP_VERSION "1.1.0.31"
#define APP_VERSIONINFO_VERSION 1,1,0,31
#define APP_COPYYEAR "2013-2014"
#define APP_INTERNALNAME "KBDCSERV"
#define APP_ORIGINALNAME "kbdcserv.exe"
#define APP_FILEFLAGS VS_FF_PRIVATEBUILD
#define APP_FILEOS VOS_NT_WINDOWS32

#include <rc_mfsta.rc>
#include <rc_vinfo.rc>

LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL

1 ICON DISCARDABLE "kbdcserv.ico"
