// -----------------------------------------------------------------
// RO Credentials (ROCred)
// (c) 2012+ Ai4rei/AN
//
// -----------------------------------------------------------------

#include <windows.h>
#include "rocred.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_MAINICON ICON DISCARDABLE "app-1002.ico"

#define APP_PRODUCTNAME "RO Credentials"
#define APP_DESCRIPTION "Minimalist Client Launcher"
#define APP_HAS_UI
#define APP_COPYYEAR "2012-2018"
#define APP_INTERNALNAME "ROCred"
#define APP_ORIGINALNAME "rocred.exe"

#include <rc_vinfo.rc>
#include <rc_mfsta.rc>

// You may adjust these to the language you are translating to. See
// http://msdn.microsoft.com/en-us/library/dd318693(VS.85).aspx for
// available constants.
//LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE DISCARDABLE
BEGIN
    // length of the strings is limited to 4096 characters
    IDS_USERNAME,                   "Username:"
    IDS_PASSWORD,                   "Password:"
    IDS_CHECKSAVE,                  "Save"
    IDS_TITLE,                      "RO Credentials - Minimalist Launcher"
    IDS_OK,                         "Start"
    IDS_CLOSE,                      "Close"
    IDS_USER_NONE,                  "Please enter a user name. User name must be at least 4 characters long."
    IDS_USER_SHRT,                  "User name must be at least 4 characters long. Please try again."
    IDS_PASS_NONE,                  "Please enter a password. Password must be at least 4 characters long."
    IDS_PASS_SHRT,                  "Password must be at least 4 characters long. Please try again."
    IDS_EXE_ERROR,                  "Failed to start client.\n\nCommand Line:\n\t""%s"" %s\n\nLast Error:\n\t%s"
    IDS_CONFIG_ERROR,               "Failed to initialize configuration."
    IDS_MISCINFO_PROMPT_PREFIX,     "Everytime you log-in, information will be made available to the server as part of the entered authentification credentials.\n\nFollowing information will be shared:"
    IDS_MISCINFO_PROMPT_SUFFIX,     "Do you agree to providing this information? If you choose 'No', you will not log-in and will not be able to, until you agree."
    IDS_MISCINFO_OPT_MACADDRESS,    "MAC address (hardware identification of the primary network adapter)"
    IDS_COINIT_ERROR,               "COM initialization failed."
END
