// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010 Ai4rei/AN
// See doc/license.txt for details.
// -----------------------------------------------------------------

#include <windows.h>
#include "resource.h"

IDI_APPLICATION_LARGE ICON "res\\appicon_l.ico"
IDI_APPLICATION_SMALL ICON "res\\appicon_s.ico"

IDB_IMAGELIST BITMAP "res\\imagelist.bmp"
IDB_IMAGELIST_MASK BITMAP "res\\imagelist-mask.bmp"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 250, 205
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW | WS_EX_CONTROLPARENT
CAPTION "RagnarokOnline OpenSetup"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "Tahoma"
BEGIN
    CONTROL "Ok", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 185, 50, 14
    CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 185, 50, 14
    CONTROL "Apply", IDAPPLY, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 185, 50, 14
END

IDD_TAB_VIDEO DIALOG 0, 15, 250, 170
STYLE WS_CHILD | WS_VISIBLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "Tahoma"
BEGIN
    CONTROL "Graphic Settings", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 240, 160
    CONTROL "Graphic Device:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 20, 54, 9
    CONTROL "", IDCOMBOBOX_VIDEODEVICE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 30, 150, 100
    CONTROL "Resolution:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 50, 36, 9
    CONTROL "", IDCOMBOBOX_RESOLUTION, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 60, 150, 100
    CONTROL "Options:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 80, 33, 9
    CONTROL "Play in Full Screen", IDCHECKBOX_FULLSCREEN, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 90, 72, 10
    CONTROL "Enable Fog", IDCHECKBOX_FOG, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 90, 52, 10
    CONTROL "Use Lightmap", IDCHECKBOX_LIGHTMAP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 145, 90, 59, 10
    CONTROL "Sprite Quality:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 105, 49, 8
    CONTROL "Slider2", IDTRACKBAR_SPRITEQ, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 115, 80, 12
    CONTROL "Texture Quality:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 110, 105, 55, 8
    CONTROL "Slider1", IDTRACKBAR_TEXTUREQ, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 115, 80, 12
    CONTROL "Troubleshooting:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 135, 58, 9
    CONTROL "VooDoo3 graphics card installed", IDCHECKBOX_VOODOO, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 145, 117, 10
END

IDD_TAB_SOUND DIALOG 0, 15, 250, 170
STYLE WS_CHILD | WS_VISIBLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "Tahoma"
BEGIN
    CONTROL "Sound Settings", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 240, 160
    CONTROL "Sound Mode:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 20, 49, 9
    CONTROL "", IDCOMBOBOX_SOUND_MODE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 30, 150, 98
    CONTROL "Speaker Type:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 50, 49, 9
    CONTROL "", IDCOMBOBOX_SOUND_SPEAKERTYPE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 60, 150, 98
    CONTROL "Channels:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 170, 50, 51, 8
    CONTROL "", IDCOMBOBOX_SOUND_CHANNELS, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 170, 60, 65, 100
    CONTROL "Bitdepth:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 80, 36, 8
    CONTROL "", IDCOMBOBOX_SOUND_BITDEPTH, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 90, 50, 100
    CONTROL "Bitrate:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 70, 80, 58, 8
    CONTROL "", IDCOMBOBOX_SOUND_BITRATE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 70, 90, 60, 100
END

IDD_TAB_ROEXT DIALOG 0, 15, 250, 170
STYLE WS_CHILD | WS_VISIBLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "Tahoma"
BEGIN
    CONTROL "ROExt Settings", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 240, 160
    CONTROL "Mouse Freedom", IDCHECKBOX_MOUSEFREEDOM, BUTTON, BS_AUTOCHECKBOX | BS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 20, 65, 10
    CONTROL "Remap Mouse Buttons", IDCHECKBOX_REMAPMOUSEBUTTONS, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 35, 88, 10
    CONTROL "Remap Alt+F4", IDCHECKBOX_REMAPALTF4, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 50, 61, 10
    CONTROL "Free CPU When Inactive", IDCHECKBOX_AUTOFREECPU, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 65, 94, 10
    CONTROL "Window Always on Top", IDCHECKBOX_WINDOWONTOP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 80, 90, 10
    CONTROL "Lock Window", IDCHECKBOX_WINDOWLOCK, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 80, 58, 10
    CONTROL "Codepage:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 95, 49, 9
    CONTROL "", IDCOMBOBOX_CODEPAGE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 105, 150, 98
    CONTROL "Note: This page appears only, because ROExt has been detected.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 15, 135, 220, 9
    CONTROL "ROExt © 2010 Ruri", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 15, 145, 220, 9
END

1 VERSIONINFO
FILEVERSION APP_VERSIONINFO_VERSION
PRODUCTVERSION APP_VERSIONINFO_VERSION
FILEOS 0x4
FILETYPE 0x1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "00000000"
        BEGIN
            VALUE "CompanyName", "Ai4rei/AN"
            VALUE "FileDescription", "RagnarokOnline OpenSetup"
            VALUE "FileVersion", APP_VERSION
            VALUE "InternalName", "OpenSetup"
            VALUE "LegalCopyright", "© 2010 Ai4rei/AN"
            VALUE "LegalTrademarks", "RagnarokOnline is a trademark of Gravity Co., Ltd."
            VALUE "OriginalFilename", "OPENSETUP.EXE"
            VALUE "ProductName", "RagnarokOnline OpenSetup"
            VALUE "ProductVersion", APP_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000 0x0000
    END
END

#ifndef HKLM_TO_HKCU
1 24 DISCARDABLE "opensetup.exe.manifest"
#else
1 24 DISCARDABLE "opensetup-cu.exe.manifest"
#endif
